@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
    scroll-behavior: smooth;
}

:root {
    --black: #333;
    --balck2: #333;
    --white: #fff;
    --white2: #fff;
}

body {
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

/*change menu desing*/
/*from here*/

.main {
    position: absolute;
    width: 100vw;
    background: var(--white);
}

.main .topbar {
    position: fixed;
    top: 0;
    width: 100vw;
    background: var(--white2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    height: 10vh;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.main .topbar .logo {
    color: var(--black);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/*Circular Menu*/
    /*from Here*/

    .navigation{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* .navigation li{
        position: absolute;
        left: 0;
        list-style: none;
        transform-origin: 100px;
        transition: 0.5s;
        transition-delay: calc(0.1s * var(--i));
        transform: rotate(0deg) translateX(80px);
    } */

    .navigation li{
        position: absolute;
        list-style: none;
    }
    
    /* .navigation.active li{
        transform: rotate(calc(360deg / 8 * var(--i)));
    } */
    
    /* .navigation li a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: #fff;
        border-radius: 50%;
        transform: rotate(calc(360deg / -8 * var(--i)));
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
        color: #111;
        transition: 0.5s;
    } */
    
    /* .navigation li a:hover{
        color: #ff1252;
    } */
    
    /* .toggle{
        position: absolute;
        width: 60px;
        height: 60px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10000;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
        font-size: 2em;
        transition: transform 1.25s;
    } */

    .toggle{
        position: absolute;
        font-size: 30px;
    }
    
    /* .navigation.active .toggle{
        transform: rotate(315deg);
    } */

    /*so Far*/

/*so far*/

section {
    position: relative;
    min-height: 100vh;

}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.banner .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner .imgBX {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
}

.banner .imgBX img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h3 {
    position: relative;
    font-size: 1.4em;
    color: var(--black);
    letter-spacing: 2px;
    text-transform: uppercase;
}

p {
    color: #777;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background: var(--balck2);
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
    text-decoration: none;
}

.socialMedia {
    position: absolute;
    bottom: 20px;
    display: flex;
}

.socialMedia li {
    list-style: none;
}

.socialMedia li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.05);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    font-size: 1.4em;
}

.socialMedia li a:hover{
    background: var(--black);
    color: var(--white);
}

.adjust {
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 0px 40px;
    padding-top: 80px;
    background: var(--white);
    color: var(--balck2);
    display: inline-block;
}

.title {
    width: 100%;
    text-align: center;
}

.title h2{
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2em;
    margin-bottom: 30px;

}

.title h2::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 50px;
    height: 1px;
    background: var(--black);
}

.about .content{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.about .content .textBox{
    width: 49%;
    min-width: 49%;
}

.about .content .imgBX {
    margin-right: 40px;
}

.about .content .imgBX img {
    max-width: 100%;
}

.services .content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 40px 0;
}

.services .content .servicesBox {
    border: rgba(0, 0, 0, 0.05);
    padding: 50px 20px;
    display: flex;
    background: var(--white2);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services .content .servicesBox img {
    max-width: 50px;

}

.services .content .servicesBox h2 {
    font-size: 1.1em;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--black);
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.services .content .servicesBox p{
    text-align: center; 
}

.project .content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 40px 0;
}

.project .content .workBX {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.project .content .workBX .imgBX {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    transition: 00.5s ease-in-out;
}

.project .content .workBX:hover .imgBX {
    transform: translateY(-100%);
}

.project .content .workBX .imgBX img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project .content .workBX .textBX {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: 0.5s ease-in-out;
}

.project .content .workBX:hover .textBX {
    transform: translateY(0);
}

.project .content .workBX .textBX h3 {
    color: var(--white);
    font-size: 1em;
}

.testimonial .content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    margin: 40px 0;
}

.testimonial .content .testimonialBX {
    background: var(--white2);
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.testimonial .content .testimonialBX .imgBX {
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.testimonial .content .testimonialBX .imgBX img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial .content .testimonialBX p {
    font-style: italic;

}

.testimonial .content .testimonialBX h4 {
    text-align: right;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
    color: var(--black);
    line-height: 1.2em;
    font-weight: 600;
    border-right: 4px solid var(--black);
    padding-right: 10px;
}

.testimonial .content .testimonialBX h4 span {
    text-transform: initial;
    color: #aaa;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 0.7em;
}

.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.contact .contactForm {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin-top: 20px;
}

.contact .contactForm .row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.contact .contactForm .row2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.contact .contactForm .row input, .contact .contactForm .row2 textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    color: var(--black);
    background: var(--white2);
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.contact .contactForm .row2 textarea {
    resize: none;
    height: 200px;

}

.contact .contactForm .row2 input[type="submit"] {
    background: var(--balck2);
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    max-width: 150px;
    border: none;
}

.copyright {
    position: relative;
    bottom: 0;
    padding: 10px 40px;
    text-align: center;
}

/*Now, Make it responsive*/
@media (max-width:992px){
    .navigation {
        left: -100%;
    }
    
    .navigation.activate {
        left: 0;
        width: 100%;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.activate {
        left: 100%;
    }

    .main .topbar {
        width: 100%;
        left: 0;
        padding: 0 20px;
    }

    .navigation ul {
        padding: 20px 20px;
    }

    .banner .imgBX {
        width: 250px;
        height: 250px;
    }

    .banner p, .banner h3 {
        text-align: center;
    }

    .adjust {
        padding: 0 20px;
    }

    .about .content {
        flex-direction: column;
    }

    .about .content .textBox {
        width: 100%;
        min-width: 100%;
    }

    .about .content .imgBX {
        margin-left: 0;
        margin-top: 20px;
    }

    .services .content {
        grid-template-columns: repeat(2,1fr);
    }

    .project .content {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 767px) {

    /* .navigation {
        height: 100vw;
    } */

    .services .content {
        grid-template-columns: repeat(1,1fr);
    }

    .project .content {
        grid-template-columns: repeat(1,1fr);
    }

    .testimonial .content {
        grid-template-columns: repeat(1,1fr);
    }

    .contact .contactForm .row {
        grid-template-columns: repeat(1,1fr);
    }

    .contact {
        margin-bottom: 100px;
    }

    .copyright {
        padding: 10px 20px;
    }

}